//colores
$color-primary: #e17334;
$color-secundary: #438792;
$color-tertiary: #114e4e;
$color-dark: #000;
$color-dark-medium:#420101;
$color-dark-light: #bd1010;
$color-medium:#54585a;
$color-medium-light: #3e5b65;
$color-light:#fff;
$color-light-ultra-light:#6b6b6b;
$color-light-light:#dfe5eb;
$color-light-medium:#f5f5f5;
$color-light-medium-light:#d8d8d8;
$color-light-dark:#a0c0cf;
$color-light-medium-dark:#a2deaf;
$blue-twitter: #00a0f5;
$color-border: #979797;
$color-hearts1: #E82378;
$color-hearts2: #A6387A;
$color-hearts3: #FF7FA2;

/* VARIABLES TIPOGRAFÍA */

/* Tamaños */
$font-size-xxsmall: 12px;
$font-size-xsmall: 13px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 20px;
$font-size-xxlarge: 24px;

/* Familias */
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Merriweather', serif;
$font-family-design1: 'Indie Flower', 'cursive';
$font-family-design2: 'Montserrat', sans-serif;
$font-family-design3: 'Ubuntu', sans-serif;
$font-family-design4: 'Pacifico', cursive;
/* Grosor */
$font-weight-light: normal;
$font-weight-medium: 600;
$font-weight-thick: bold;
$font-weight-thicker: 900;
