.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $color-light-medium;
  padding-bottom: 30px;
}



.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__title {
  color: $color-primary;
  font-size: $font-size-xlarge;
  font-weight: $font-weight-thicker;
  font-family: $font-family-secondary;
  text-align: center;
  margin-bottom: 4px;
}

.main__subtitle {
  width: 265px;
  font-family: $font-family-primary;
  font-size: $font-size-xsmall;
  font-weight: $font-weight-light;
  color: $color-tertiary;
  text-align: center;
  margin-bottom: 14px;
}

.list {
  border: solid 2px rgba($color-primary, 0.21);
  border-radius: 4px;
  width: 268px;
  padding-top: 15px;
  padding-bottom: 13px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 39px;
}

.list__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size-medium;
  color: $color-medium;
  font-family: $font-family-primary;
  font-weight: $font-weight-light;
}

.list__element--icon {
  color: $color-primary;
  font-size: 28px;
  margin-bottom: 6px;
}

@media all and (min-width: 768px) {
  .header__logo {
    width: 419px;
  }

  .main__title {
    font-size: $font-size-xxlarge;
  }

  .main__subtitle {
    font-size: $font-size-medium;
    width: 331px;
    margin-bottom: 21px;
  }

  .list {
    width: 325px;
    padding-top: 15px;
    padding-bottom: 16px;
    margin-bottom: 186px;
  }

  .page__wrapper {
    padding-bottom: 60px;
  }

  .header__container-logo {
    margin-top: 348px;
    margin-bottom: 31px;
  }
}
