//version tablet
.collapsible__content {
  display: none;
}

.collapsible__label {
  cursor: pointer;
}

.collapsible--visible {
  .collapsible__content {
    display: block;
  }
}

@media all and (min-width: 768px) {
  .main__target {
    background-image: url(../../images/bg-hearts2.png);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, $color-light-medium, $color-light);
  }
  .main__section-card {
    height: 100%;
    width: 100%;
  }
  .section--top {
    height: 812px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
