@charset "UTF-8";
/* VARIABLES TIPOGRAFÍA */
/* Tamaños */
/* Familias */
/* Grosor */
.page__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f5f5f5;
  padding-bottom: 30px; }
