@import './sass/_variables.scss';

.form2--stuffed {
    width: 281px;
    margin: auto;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  
  .form2__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .form2__wrapper2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .form2__title {
    font-size: $font-size-large;
    font-family: $font-family-primary;
    color: $color-medium;
    text-transform: uppercase;
  }
  
  .form2__title--icon {
    color: $color-primary;
    margin-right: 12px;
  }
  
  .arrow--icon {
    color: $color-medium;
    width: 16px;
    height: 18px;
    font-size: $font-size-large;
  }
  
  .form2__button--container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form2__button {
    background-color: $color-primary;
    width: 199px;
    height: 50px;
    border-radius: 12px;
    color: $color-light;
    font-size: $font-size-large;
    font-family: $font-family-primary;
    font-weight: $font-weight-medium;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  }
  
  .button--icon {
    margin-right: 10px;
  }
  
  .line2 {
    margin-bottom: 30px;
  }
  
  .container-select{
  
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .icon-collapsible{
  
    transition: all linear 5s;
  }
  
  .container__twitter{
    border-bottom: solid $color-light-medium-light 1px;
    border-top: solid $color-light-medium-light 1px;
    padding: 20px 0 20px 0;
  
  }
  
  
  
  .twitter-title {
    font-size: $font-size-large;
    font-family: $font-family-primary;
    color: $color-medium;
    text-align: center;
  
  }
  
  .response{
    text-align: center;
  }
  
  .link--response{
     font-family: $font-family-primary;
     color: $color-primary;
     text-decoration: none;
     cursor: pointer;
     
  }
  .container__btn-twitter{
    text-align: center;
    margin-top: 10px;
  
  }
  
  .link-twitter{
  text-decoration: none;
    font-size: $font-size-small;
    font-family: $font-family-primary;
    font-weight: $font-weight-light;
    font-size: $font-size-small;
    color: $color-light;
  }
  
  .disabled{
    background-color: $color-light-medium-light;
    
  }