@charset "UTF-8";
/* VARIABLES TIPOGRAFÍA */
/* Tamaños */
/* Familias */
/* Grosor */
.container__colors-fonts {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 1px solid #d8d8d8;
  padding-top: 20px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding-bottom: 0; }

.title__section-desing-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px; }

.title__section-desing-title {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #54585a; }

.icon-ungroup-desing {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #e17334;
  margin-right: 10px; }

.icon-chevron-up-desing {
  font-size: 18px;
  color: #54585a; }

.form__container-radio {
  margin-left: 39px;
  display: flex;
  justify-content: space-between; }

.input__design {
  display: flex;
  flex-direction: column; }

.block {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  width: 113px;
  position: relative; }

.first-block {
  margin-top: 0; }

.radio__options {
  display: flex;
  margin-left: 10px; }

.color {
  width: 30px;
  height: 25px;
  background-color: black; }

.color__paleta-primary1 {
  background-color: #114e4e; }

.color__paleta-primary2 {
  background-color: #438792; }

.color__paleta-primary3 {
  background-color: #a2deaf; }

.color__paleta-secondary1 {
  background-color: #420101; }

.color__paleta-secondary2 {
  background-color: #bd1010; }

.color__paleta-secondary3 {
  background-color: #e17334; }

.color__paleta-tertiary1 {
  background-color: #3e5b65; }

.color__paleta-tertiary2 {
  background-color: #dfe5eb; }

.color__paleta-tertiary3 {
  background-color: #a0c0cf; }

.color__paleta-hearts1 {
  background-color: #E82378; }

.color__paleta-hearts2 {
  background-color: #A6387A; }

.color__paleta-hearts3 {
  background-color: #FF7FA2; }

.primary-palette .card__title {
  color: #114e4e; }

.primary-palette .card__media--icon {
  border: 2px solid #a2deaf; }

.primary-palette .icon-card-color {
  color: #114e4e; }

.primary-palette .card__skills--icon {
  background-color: #438792;
  color: #fff; }

.secondary-palette .card__title {
  color: #420101; }

.secondary-palette .card__media--icon {
  border: 2px solid #e17334; }

.secondary-palette .icon-card-color {
  color: #420101; }

.secondary-palette .card__skills--icon {
  background-color: #bd1010;
  color: #fff; }

.tertiary-palette .card__title {
  color: #3e5b65; }

.tertiary-palette .card__media--icon {
  border: 2px solid #dfe5eb; }

.tertiary-palette .icon-card-color {
  color: #3e5b65; }

.tertiary-palette .card__skills--icon {
  background-color: #a0c0cf;
  color: #fff; }

.hearts-palette .card__title {
  color: #E82378; }

.hearts-palette .card__media--icon {
  border: 2px solid #FF7FA2; }

.hearts-palette .icon-card-color {
  color: #E82378; }

.hearts-palette .card__skills--icon {
  background-color: #A6387A;
  color: #fff; }

.top-container-radiofont {
  margin-top: 36px; }

.label-block {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.font__style-font1 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.font__style-font2 {
  font-family: "Indie Flower", "cursive";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.font__style-font3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.font__style-font4 {
  font-family: "Pacifico", cursive;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }
