@charset "UTF-8";
/* VARIABLES TIPOGRAFÍA */
/* Tamaños */
/* Familias */
/* Grosor */
.section--top {
  background: linear-gradient(to bottom, #dd0042, #ffd6f9);
  width: 100vw;
  padding: 10px 35px 30px 45px; }

.button {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 75px;
  height: 30px;
  background-color: transparent;
  padding: 5px; }

.button__icon {
  margin-right: 10px; }

.section--top__card {
  width: 240px;
  height: 378px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35); }

.card__title {
  display: block;
  font-size: 18px;
  color: #114e4e;
  font-weight: bold;
  margin: 20px 14px 5px 20px;
  padding-top: 5px; }

.card__subtitle {
  display: block;
  color: #54585a;
  font-size: 16px;
  font-weight: normal;
  margin: 0 67px 10px 20px;
  width: 100%; }

.photo {
  width: 240px;
  height: 200px;
  background-color: lightgrey; }

.card__media {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 10px 22px 10px 20px; }

.card__media--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: solid 2px #a2deaf;
  margin-right: 10px; }

.line {
  width: 240px;
  height: 2px;
  margin-bottom: 10px;
  opacity: 0.2;
  background-color: #438792; }

.card__skills {
  padding: 0;
  list-style: none;
  width: 100%; }

.card__skills--icon {
  display: inline-block;
  border-radius: 4px;
  background-color: #438792;
  text-align: center;
  padding: 0 5px;
  margin: 3px; }

.icon__text {
  font-size: 13px;
  color: #fff;
  font-weight: normal;
  line-height: normal;
  padding: 0 5px; }

@media all and (min-width: 768px) {
  .main__section-card {
    height: 100%; }
  .section--top {
    height: 812px;
    border-radius: 6px;
    display: flex;
    align-items: center; } }

.primary-palette .card__title {
  color: #114e4e; }

.primary-palette .card__media--icon {
  border: 2px solid #a2deaf; }

.primary-palette .icon-card-color {
  color: #114e4e; }

.primary-palette .card__skills--icon {
  background-color: #438792;
  color: #fff; }

a {
  text-decoration: none; }
