@charset "UTF-8";
/* VARIABLES TIPOGRAFÍA */
/* Tamaños */
/* Familias */
/* Grosor */
.section--stuffed {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.form__subtitle {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #54585a;
  margin-bottom: 25px;
  width: 280px;
  margin-top: 10px; }

.section-stuffed__icon {
  color: #e17334;
  font-size: 18px;
  margin-right: 10px;
  font-weight: normal; }

.section-stuffed__arrow {
  margin-left: 204px;
  font-size: 18px; }

.subsection--stuffed {
  width: 281px;
  margin: auto;
  border: none;
  border-bottom: solid #d8d8d8 1px;
  display: flex;
  margin-bottom: 10px; }

.input--stuffed {
  width: 280px;
  height: 30px;
  border: 1px solid #a2deaf;
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 9px; }

.label--stuffed {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #114e4e; }

.div--stuffed__img {
  display: flex;
  width: 280px;
  margin-bottom: 20px;
  margin-top: 5px; }

.input--stuffed__img {
  width: 140px;
  height: 30px;
  background-color: #e17334;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  margin-right: 20px; }

.input__img-hiddenField {
  display: none; }

.box--previmg {
  width: 30px;
  height: 30px;
  border: solid #a2deaf 1px; }

.preview {
  width: 100%; }

.container__skills--stuffed {
  display: flex; }

.container__skills1 {
  margin-top: 5px;
  margin-bottom: 21px; }

.container__skills2 {
  margin-bottom: 30px; }

.skills--stuffed {
  width: 165px;
  height: 30px;
  background: #fff;
  border: 1px solid #a2deaf;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 5px; }
