@import 'core/variables.scss';
@import 'components/buttons.scss';
@import 'components/typography.scss';
@import 'components/radio-style.scss';
@import 'layout/footer.scss';
@import 'layout/header.scss';
@import 'layout/desing.scss';
@import 'layout/tablet.scss';
@import 'pages/tarjeta.scss';
@import 'pages/home.scss';
@import 'pages/base.scss';
